@charset "UTF-8";

html{
    font-size: 100%;
}

body{
    background-color: #fdf8f8;
    color:#333;
    font-family: 'YoGothic','Yu Gothic',sans-serif; /*フォントの種類をOSごとに指定*/
}

img{
    max-width: 100%;
    vertical-align: bottom;
}

li{
    list-style:none;
}

a{
    color:#333;
    text-decoration:none; /*リンクに下線を引かない*/
}

