html{
    font-size:100%; /*フォントの基準*/
}

img{
    max-width: 100%;
    vertical-align: bottom; /*下に出来る隙間を消す*/
}

body { padding: 0; margin: 0; 
     /*スマホのスクロールを可能に変更*/overflow:visible;
}
     
.game-title-banner img {
  max-width: 100%; 
  display: block;
}


.game-frame {
  position: relative; /*ゲーム画面のabsoluteの基準をgame-frameに変更*/
  width: 80%;
  height: auto;
  background: #f1f1f1;    /* 白背景 */
  border:3px solid #8b0000; /*縁を赤く*/
  margin: 0 auto 30px; /* 下に余白を作る*/
}

/* もみじの背景 */
.momiji-background{
    width: 100%;
    z-index:0;
}

#unity-container { position: absolute ;
    /*中央寄せ*/justify-content: center}

#unity-container.unity-desktop { left: 50%; top: 50%; transform: translate(-50%, -50%);}

/*ipadにPC用の中央寄せの適用するのを無効化*/
@media screen and (max-width:1200px){
      #unity-container {left: 0; top: 0; transform: none} /*スマホでは親を左上に固定*/
      #unity-container.unity-desktop { left: 0; top: 0; transform: none } /*PC用を無効化*/
}

/*PCとスマホのプレイ画面*/
#unity-canvas { background: #231F20 ;
    width: 100%;
    height: auto;
    display: block;
}

/*スマホの横画面のプレイ画面*/
@media (orientation: landscape) {
    .unity-mobile #unity-canvas { 
     aspect-ratio: 16/9;
    width: 50%;
    height: auto;
    display: block;
    /*中央寄せ*/ margin:auto;
    margin-top:20% }
}


/*スマホの縦画面のプレイ画面*/
@media(orientation: portrait){
.unity-mobile #unity-canvas { 
    /*プレイ画面の横幅*/width: 60%;
    height: auto;
    aspect-ratio: 16/9;
    display: block;
    /*中央寄せ*/ margin:auto;
    margin-top:20% }
}

#unity-loading-bar { position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); display: none }
#unity-logo { width: 154px; height: 130px; background: url('unity-logo-dark.png') no-repeat center }
#unity-progress-bar-empty { width: 141px; height: 18px; margin-top: 10px; margin-left: 6.5px; background: url('progress-bar-empty-dark.png') no-repeat center }
#unity-progress-bar-full { width: 0%; height: 18px; margin-top: 10px; background: url('progress-bar-full-dark.png') no-repeat center }
#unity-footer { position: relative }
.unity-mobile #unity-footer { display: none }
#unity-logo-title-footer { float:left; width: 102px; height: 38px; background: url('unity-logo-title-footer.png') no-repeat center }
#unity-build-title { float: right; margin-right: 10px; line-height: 38px; font-family: arial; font-size: 18px }
#unity-fullscreen-button { cursor:pointer; float: right; width: 38px; height: 38px; background: url('fullscreen-button.png') no-repeat center }
#unity-warning { position: absolute; left: 50%; top: 5%; transform: translate(-50%); background: white; padding: 10px; display: none }

